<div>
    <div class="col-md-4 col-xs-12">
        <h4>Your enrolled credentials</h4>
        <div ng-repeat="cred in $ctrl.enrolled">

            <a class="btn btn-link" ng-href="/user/change/{{cred.name}}">
                <img src="{{:: cred.icon}}" style="height: 30px;" />
                <span ng-bind="cred.name|translate"></span>
            </a>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <h4>Add more credentials</h4>
        <div ng-repeat="cred in $ctrl.credentials">
            <a class="btn btn-link" ng-href="/user/change/{{cred.name}}">
                <img src="{{:: cred.icon}}" style="height: 30px;" />
                <span ng-bind="cred.name|translate"></span>
            </button>
        </div>
    </div>
</div>
