<div class="row">
    <div class="col-md-6 col-xs-12">
        <h4 ng-bind="'Profile.Security.EnrolledCredentials'|translate""></h4>
        <div ng-repeat="cred in $ctrl.enrolled">
            <a class="btn btn-link" ng-href="/user/change/{{cred.name}}">
                <img src="{{:: cred.icon}}" style="height: 30px;" />
                <span ng-bind="cred.name|translate"></span>
            </a>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <h4 ng-bind="'Profile.Security.AddCredentials'|translate""></h4>
        <div ng-repeat="cred in $ctrl.unenrolled">
            <a class="btn btn-link" ng-href="/user/change/{{cred.name}}">
                <img src="{{:: cred.icon}}" style="height: 30px;" />
                <span ng-bind="cred.name|translate"></span>
            </button>
        </div>
    </div>
</div>
