<div style="position: relative;">
    <video muted
        style="
            height: 200px; width: auto;
            transform: scale(-1, 1);
            -webkit-transform:scale(-1, 1); /* Safari and Chrome */
            -moz-transform:scale(-1, 1); /* Firefox */
        "
    ></video>
    <canvas style="
            position: absolute;
            top: 0; left: 0;
            z-index: 10;
            transform: scale(-1, 1);
            -webkit-transform:scale(-1, 1); /* Safari and Chrome */
            -moz-transform:scale(-1, 1); /* Firefox */
        "
    ></canvas>
</div>
