<form ng-submit="$ctrl.submit()">
    <div class="alert alert-success" role="alert" ng-bind="'PIN.Success' | translate" ng-show="$ctrl.isAuthenticated()"></div>
    <div ng-hide="$ctrl.isAuthenticated()"
        <fieldset>
            <x-password
                label="{{ 'PIN.Prompt' | translate }}"
                on-change="$ctrl.updatePin(value)"></x-password>
            <div class="alert alert-danger" role="alert" ng-bind="$ctrl.error | translate" ng-show="$ctrl.error"></div>
        </fieldset>
        <button
            type="submit"
            class="btn btn-primary"
            ng-disabled="!$ctrl.user.name || !$ctrl.pin"
            ng-bind="'Signin.Title' | translate"></button>
    </div>
</form>
