<ng-form name="_form">
    <div class="form-group"
        ng-class="{
            'has-error': !_form.password.$valid && _form.password.$touched,
            'has-success': _form.password.$valid && $ctrl.ngModel
    }">
        <div class="control-label">
            <label for="{{:: $id + '-1'}}"
                ng-bind="'Password.Create'|translate">
            </label>
        </div>

        <div class="control-body">
            <div class="input-group">
                <input  id="{{:: $id + '-1'}}"
                        class="form-control"
                        name="password"
                        type="password"
                        autocomplete="off"
                        ng-model="$ctrl.value"
                        ng-required="true"
                        ng-change="$ctrl.onChange({value: $ctrl.value})"
                        ng-hide="$ctrl.showPassword"
                />
                <input  class="form-control"
                        type="text"
                        ng-model="$ctrl.value"
                        ng-show="$ctrl.showPassword"
                />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                        type="button"
                        ng-mousedown="$ctrl.peek(true)"
                        ng-mouseup="$ctrl.peek(false)"
                        ng-keydown="$event.keyCode==32 ? $ctrl.peek(true) : $ctrl.peek(false)"
                        ng-keyup="$ctrl.peek(false)"
                    ><i class="fa fa-eye"></i></button>
                </div>
            </div>
            <ng-messages for="_form.password.$error" ng-if="_form.password.$touched || _form.password.$dirty">
                <ng-message when="required">{{ 'This field is required' | translate }}</ng-message>

                <ng-message when="isSameAsUsername">{{ 'Your password cannot be the same as your username' | translate }}</ng-message>
                <ng-message when="isUppercaseLetters">{{ 'Your password should contain at least one capital letter' | translate }}</ng-message>
                <ng-message when="isLowercaseLetters">{{ 'Your password should contain at least one lower case letter' | translate }}</ng-message>
                <ng-message when="isDigits">{{ 'Your password should contain at least one number' | translate }}</ng-message>
                <ng-message when="isEscapeCharacters">{{ 'Your password should contain at least one special character (!, @, $, etc...)' | translate}} </ng-message>
                <ng-message when="isSpace">{{ 'Your password cannot have a space' | translate }}</ng-message>
            </ng-messages>
        </div>
    </div>

    <div class="form-group" ng-class="{
        'has-error': !_form.confirm.$valid && _form.confirm.$touched,
        'has-success': _form.confirm.$valid && $ctrl.confirm
    }">
        <div class="control-label">
            <label for="{{:: $id + '-2'}}"
                ng-bind="'Password.Repeat'|translate">
            </label>
        </div>
        <div class="control-body">
            <div class="input-group">
                <input  id="{{:: $id + '-2'}}"
                        class="form-control"
                        name="confirm"
                        type="password"
                        autocomplete="off"
                        ng-model="$ctrl.confirm"
                        ng-required="!!$ctrl.model"
                        ng-hide="$ctrl.showPassword"
                />
                <input  class="form-control"
                        type="text"
                        ng-model="$ctrl.confirm"
                        ng-show="$ctrl.showPassword"
                />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                        type="button"
                        ng-mousedown="$ctrl.peek(true)"
                        ng-mouseup="$ctrl.peek(false)"
                        ng-keydown="$event.keyCode==32 ? $ctrl.peek(true) : $ctrl.peek(false)"
                        ng-keyup="$ctrl.peek(false)"
                        ><i class="fa fa-eye"></i></button>
                </div>
            </div>
            <ng-messages for="_form.confirm.$error" ng-if="_form.confirm.$touched || _form.confirm.$dirty">
                <ng-message when="required">{{ 'This field is required' | translate }}</ng-message>
                <ng-message when="match">{{ 'Both passwords must match each other' | translate }}</ng-message>
            </ng-messages>
        </div>
    </div>
</ng-form>
