<ng-form name="_form">
    <div class="form-group"
        ng-class="{
            'has-error': !_form[$ctrl.name].$valid && _form[$ctrl.name].$touched,
            'has-success': _form[$ctrl.name].$valid && $ctrl.ngModel
        }">
        <div class="control-label">
            <label for="{{:: $id}}"
                   ng-bind="$ctrl.label">
            </label>
        </div>
        <div class="control-body" ng-switch="$ctrl.showPeeker">
            <input  id="{{:: $id}}" ng-switch-when="false"
                    class="form-control"
                    name="{{$ctrl.name}}"
                    type="text"
                    ng-model="$ctrl.value"
                    ng-model="{debounce: 1000}"
                    autocomplete="off"
                    ng-required="true"
                    ng-change="$ctrl.update()"
            />
            <div class="input-group" ng-switch-when="true">
                <input  id="{{:: $id}}"
                        class="form-control"
                        name="{{$ctrl.name}}"
                        type="password"
                        ng-model="$ctrl.value"
                        ng-model-options="{ debounce: 500 }"
                        autocomplete="off"
                        ng-required="true"
                        ng-change="$ctrl.update()"
                        ng-hide="$ctrl.showPassword"
                />
                <input  class="form-control"
                        type="text"
                        ng-model="$ctrl.value"
                        ng-show="$ctrl.showPassword"
                />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                        type="button"
                        ng-mousedown="$ctrl.peek(true)"
                        ng-mouseup="$ctrl.peek(false)"
                        ng-keydown="$event.keyCode==32 ? $ctrl.peek(true) : $ctrl.peek(false)"
                        ng-keyup="$ctrl.peek(false)"
                        ><i class="fa fa-eye"></i></button>
                </div>
            </div>
            <div class="text-danger" ng-bind="$ctrl.error | translate" ng-if="$ctrl.error"></div>
            <ng-messages class="text-danger" for="_form[$ctrl.name].$error" ng-if="_form[$ctrl.name].$touched || _form[$ctrl.name].$dirty">
                <ng-message when="required">{{ 'Password.Error.Required' | translate }}</ng-message>
                <ng-message when="match">{{ 'Password.Error.PasswordMismatch' | translate }}</ng-message>
            </ng-messages>
        </div>
    </div>
</ng-form>
