<div class="container-fluid bg-white">
    <div class="row" style="min-height: 700px; padding-top: 30px; padding-bottom: 70px">
        <div class="container" ng-repeat="group in $ctrl.accounts">
            <div class="col-12">
                <div class="card border-secondary my-1">
                    <h5 class="card-header">
                        <i class="fa {{group.icon}}"></i>&nbsp;{{ group.name}}
                    </h5>
                    <div class="card-body" ng-repeat="acc in group.accounts">
                        <a class="row" href="#">
                            <div class="col-1"><i class="fa {{acc.icon}}"></i></div>
                            <div class="col-5">{{acc.name}} {{acc.id}}</div>
                            <div class="col-4">
                                <span class="text-danger" ng-if="acc.alert">{{acc.alert}}</span>
                            </div>
                            <div class="col-2">{{acc.total}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
