// //@import "./branding";
//@import "~bootstrap/scss/bootstrap";
//@import '~angular-material/layouts/angular-material.layouts';

$icon-font-path: "~bootstrap/fonts/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;   // for navbar-fixed-top
//    padding-bottom: 70px;   // for navbar-fixed-bottom
    background-color: darkslategray;
    background-image: url('./images/grid-background.png');
//    background-image: url('./images/bank_1200_768_.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

ng-message {
    @extend .help-block;
}

x-activity-view, x-signin, x-signup {
    display: block;
    padding-top: 50px;  // adjust vertical position of the signin/signup form
    max-width: 50em;
    margin: 0 auto;
}

.nav-tabs .nav-link.btn.btn-link.active {
    border-top-color: royalblue;
    border-top-width: 3px;
}

.jumbotron {
    padding-top: 1px;
}
.slidedown{
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}
@keyframes slideInFromTop {
    0%   { transform: translateY(-100%); }
    100% { transform: translateY(0);     }
}

.shakeOnError {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    20%, 60% {transform: translateX(-5px);}
    40%, 80% {transform: translateX(5px);}
}

.fingerprint {
    display: inline-block;
    margin: 0;
    border: 1px solid royalblue;
    border-radius: 10px;
    animation-name: flashBackground;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes flashBorder {
    0% { border-color: royalblue; }
    50% { border-color: black; }
    100% { border-color: royalblue; }
}

@keyframes flashBackground {
    0%   { background-color: white; }
    50%  { background-color: lightblue; }
    100% { background-color: white; }
}

.social {
    color: darkslategrey;
    margin: 0 5px;
}

.footer-link {
//    color: darkslategrey;
    margin: 5px 3em;
}

.disclaimer {
    font-size: 70%;
    color: darkslategrey;
}

// .busy {
//     cursor: wait;
// }
