//@import "./branding";
@import "~bootstrap/scss/bootstrap";

html {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    width: 100%;
    min-height: 768px;
    height: 100%;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 55px;
//    color: $brand-primary-gray;
    background-color: gainsboro;
//    background-image: url('http://lorempixel.com/1024/768/city/4');
//    background-image: url('https://loremflickr.com/1200/768/money?lock=23');
    background-image: url('./images/bank_1200_768_.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position-x: center;
//    font-family: $brand-font-primary;
//    height: 100%
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

ng-message {
    @extend .form-text;
}

x-signin {
    display: block;
    padding-top: 50px;
}

.nav-tabs .nav-link.btn.btn-link.active {
    border-top-color: royalblue;
    border-top-width: 3px;
}

.slidedown{
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}
@keyframes slideInFromTop {
    0%   { transform: translateY(-100%); }
    100% { transform: translateY(0);     }
}

.shakeOnError {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    20%, 60% {transform: translateX(-5px);}
    40%, 80% {transform: translateX(5px);}
}

.busy {
    cursor: wait;
}
