<form class="well" ng-show="$ctrl.cards.length > 0">
    <div ng-repeat="card in $ctrl.cards">
        <div ng-bind="'Cards.Type.Contactless'|translate"></div>
        <div ng-bind="card.Reader"></div>
        <div ng-bind="card.Name"></div>

        <x-alert status="$ctrl.status"></x-alert>

        <button type="button" class="btn btn-primary"
            ng-bind="'Credential.Enroll'|translate"
            ng-hide="$ctrl.success"
            ng-click="$ctrl.submit(card)"
        ></button>
    </div>
</form>
