<div>
    <div class="jumbotron slidedown" ng-if="!$ctrl.identity.userName">
        <div style="margin: 0 auto; width: 1350px;">
            <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif " ng-bind=":: $ctrl.title"></h1>
            <img style="margin: 0 40px;" src="{{:: $ctrl.box1}}">
            <img style="margin: 0 40px;" src="{{:: $ctrl.box2}}">
            <img style="margin: 0 40px;" src="{{:: $ctrl.box3}}">
        </div>
    </div>
    <div ng-if="$ctrl.identity.userName">
        <x-main></x-main>
    </div>
</div>
